@model TeamShop.Models.ProductView

@{
    ViewData["Title"] = "Admin Panel";
}

<section id="sign-in" style="color:black;">

    <form method="post" action="Secured" enctype="multipart/form-data" >
        <h1>Admin</h1>
        <p><i class="icon-paw"></i>SKLEP</p>
        <label for="title">Tytuł:</label>
        <input type="text" id="title" name="title">

        <label for="price">Cena:</label>
        <input type="number" id="price" name="price">

        <label for="quantity">Ilość:</label>
        <input type="number" id="quantity" name="quantity">

        <label for="tags">Tagi:</label><br />

        <select name="tags" id="tags">
            <option value="psy">Psy</option>
            <option value="koty">Koty</option>
            <option value="inne">Inne</option>
        </select><br />

        <label for="types">Kategoria:</label><br />

        <select name="types" id="types">
            <option value="Karmy">Karmy</option>
            <option value="Zabawki">Zabawki</option>
            <option value="Akcesoria">Akcesoria</option>
            <option value="Inne">Inne</option>
        </select><br />

        <label for="description">Opis:</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>

        <input asp-for="Attach1" name="Attach1" type="file" />

        <input type="submit" class="submit" value="Wyślij">
    </form>

</section>