@{
    ViewData["Title"] = "Admin Login";
}

<section id="sign-in">

    <form action="" method="post">
        <h1>Zaloguj się</h1>
        <p><i class="icon-paw"></i>SKLEP</p>
        <label for="login">Login:</label>
        <input type="text" id="login" name="login">
        <label for="pwd">Hasło:</label>
        <input type="password" id="pwd" name="pwd">

        <input type="button" class="sign" value="Zaloguj się">
        <input type="button" class="canel" value="Anuluj">
    </form>

</section>