@{
        ViewData["Title"] = "Catalog";
    
}

<section id="see-product">
    <a a asp-area="" asp-controller="Home" asp-action="Index" class="come-back"><i class="icon-angle-left"></i> WRÓĆ</a>
    <div class="see-img div1">
        <div class="img">

        </div>
    </div>
    <div class="div2">
        <h2>Nazwa produktu</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, in nemo tempore cupiditate veritatis quibusdam eos impedit eligendi quam nobis, tenetur, quaerat. Consequuntur laborum iusto, laboriosam est optio quaerat dolores.</p>
        <label for="quantity">Ilość:</label>
        <input id="quantity" type="number" name="quantity" min="1" max="5" step="1" value="1">
        <button class="">Dodaj do koszyka</button>
    </div>

</section>