@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<section id="second-nav">
    <ul>
        @if (Context.Request.Path.Value.Split("/").Count() >= 4)
        {
        <li><a href="/Home/Index/@Context.Request.Path.Value.Split("/")[3]/0">Karmy</a></li>
        <li><a href="/Home/Index/@Context.Request.Path.Value.Split("/")[3]/1">Zabawki</a></li>
        <li><a href="/Home/Index/@Context.Request.Path.Value.Split("/")[3]/2"> Akcesoria</a></li>
        <li><a href="/Home/Index/@Context.Request.Path.Value.Split("/")[3]/3">Inne</a></li>
        }
    </ul>
</section>

<section id="products">
    @foreach (var item in Model)
    {
        <span hidden>@item.Id</span>
        <a href="/Home/Catalog/@item.Id">
            <div class="product">
                <img src="~/img/@item.PictureName" class="img">
                <h3>@item.Title</h3>
                <p>@item.Price PLN</p>
            </div>
        </a>
    }
</section>
<section id="cookie-warn">
    <div>
        <p>Ta strona korzysta z ciasteczek aby świadczyć usugi na najwyższym poziomie. Dalsze korzystanie ze strony oznacza, że zgadzasz się na ich użycie.</p>
        <a href="javascript:void(0);" id="close-cookie-warn"><i class="icon-cancel"></i></a>
    </div>
</section>
