@{
    ViewData["Title"] = "Admin Login";
}
<head>
    <link href="~/css/sign-in-style.css" rel="stylesheet" type="text/css" />

</head>
<section id="sign-in">

    <form method="post">
        <h1>Zaloguj się</h1>
        <p><i class="icon-paw"></i>SKLEP</p>
        <label for="login">Login:</label>
        <input type="text" id="login" name="username">
        <label for="pwd">Hasło:</label>
        <input type="password" id="pwd" name="password">

        <input type="submit" class="sign" value="Zaloguj się">
        <input type="button" class="canel" value="Anuluj">
    </form>

</section>