<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewData["Title"] - Sklep</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/fontello-b4e01c75/css/fontello.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="header">

        <img src="" title="" alt="">
        <h1><i class="icon-paw"></i>SKLEP</h1>


    </header>
    <navigation id="navigation" class="navbar-fixed-top ">
        <label for="drop" class="toggle">
            <i class="icon-menu"></i>
        </label>

        <ul>

            <li> <a  asp-area="" asp-controller="Home" asp-action="Index">KOTY</a></li>
            <li> <a asp-area="" asp-controller="Home" asp-action="Index">PSY</a></li>
            <li> <a asp-area="" asp-controller="Home" asp-action="Catalog">INNE</a></li>
            <li> <a asp-area="" asp-controller="Home" asp-action="Catalog">KONTAKT</a></li>
            <li> <a asp-area="" asp-controller="Home" asp-action="Account">KONTO</a></li>
            <li><a class="basket" asp-area="" asp-controller="Home" asp-action="Bracket">KOSZYK <i class="icon-shopping-basket"></i></a></li>
        </ul>
    </navigation>
    <section id="banner">
        <div>
            <h2>Wszystko dla twojego mruczka</h2>
        </div>
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>SKLEP&copy; 2020</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="scripts/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
